@media (max-width: 600px) {
  body {
  }

  form {
  }

  input[type="text"] {
    font-size: 30px;
    width: 450px;
    height: 40px;
  }
  input[type="radio"] {
    width: 150px;
    height: 35px;
  }
  #Qte {
    width: 60px;
    height: 50px;
    font-size: 30px;
  }
  select {
    width: 350px;
    height: 60px;
    inline-size: 75%;
    font-size: 30px;
  }

  .container {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 4200px;
  }

  header {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 4.5%;
    color: white;
    background-image: url("Images/Image\ principale\ \(OK\)\ 200.png");
  }

  article {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 4200px;
  }

  .center {
    text-align: center;
    height: 750px;
  }

  footer {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* MENU BURGER */

  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: -150px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #000000;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fa4a0c;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 250px;
    margin: -76.5px 0 0 -120px;
    padding: 50px;
    padding-top: 125px;

    background: #ff9b77;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  /* Réseaux sociaux */

  .wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    /*background-color: #3b5999;*/
    background-color: #fa4a0c;
    color: #ffffff;
  }
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    /*background-color: #46c1f6;*/
    background-color: #fa4a0c;
    color: #ffffff;
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    /*background-color: #e1306c;*/
    background-color: #fa4a0c;
    color: #ffffff;
  }
}

/* TABLETTE */

@media (min-width: 600px) and (max-width: 1024px) {
  body {
  }

  form {
  }

  input[type="text"] {
    font-size: 30px;
    width: 550px;
    height: 50px;
  }
  input[type="radio"] {
    width: 150px;
    height: 35px;
  }
  #Qte {
    width: 70px;
    height: 50px;
    font-size: 40px;
  }
  select {
    width: 550px;
    height: 50px;
    inline-size: 75%;
    font-size: 40px;
  }

  .container {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 4200px;
    font-size: x-large;
  }

  header {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 4.5%;
    color: white;
    background-image: url("Images/Image\ principale\ \(OK\)\ 300.png");
  }

  article {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 5200px;
  }

  .center {
    text-align: center;
    height: 750px;
  }

  footer {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* MENU BURGER */

  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: -270px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 46px;
    height: 8px;
    margin-bottom: 5px;
    position: relative;

    background: #000000;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fa4a0c;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 550px;
    margin: -76.5px 0 0 -120px;
    padding: 50px;
    padding-top: 125px;

    background: #ff9b77;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
    font-size: x-large;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  .wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 40px;
    width: 110px;
    height: 110px;
    line-height: 50px;
    font-size: 90px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 28px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    /*background-color: #3b5999;*/
    background-color: #fa4a0c;
    color: #ffffff;
  }
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    /*background-color: #46c1f6;*/
    background-color: #fa4a0c;
    color: #ffffff;
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    /*background-color: #e1306c;*/
    background-color: #fa4a0c;
    color: #ffffff;
  }
}

/* !!!!!!  DESKTOP  !!!!!! */

@media (min-width: 1024px) {
  body {
  }

  form {
  }

  input[type="text"] {
    font-size: 30px;
    width: 950px;
    height: 30px;
  }
  input[type="radio"] {
    width: 150px;
    height: 20px;
  }
  #Qte {
    width: 70px;
    height: 50px;
    font-size: 30px;
  }
  select {
    width: 550px;
    height: 50px;
    inline-size: 75%;
    font-size: 25px;
  }

  .container {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 4200px;
    font-size: x-large;
  }

  header {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 5.5%;
    color: white;
    background-image: url("Images/Image\ principale_\(OK\)_300_Large.png");
  }

  article {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 5200px;
  }

  .center {
    text-align: center;
    height: 750px;
  }

  footer {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* MENU BURGER */

  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: -480px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 46px;
    height: 8px;
    margin-bottom: 5px;
    position: relative;

    background: #000000;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fa4a0c;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 550px;
    margin: -76.5px 0 0 -120px;
    padding: 50px;
    padding-top: 125px;

    background: #ff9b77;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
    font-size: x-large;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  .wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 40px;
    width: 80px;
    height: 80px;
    line-height: 50px;
    font-size: 50px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 20px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    /*background-color: #3b5999;*/
    background-color: #fa4a0c;
    color: #ffffff;
  }
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    /*background-color: #46c1f6;*/
    background-color: #fa4a0c;
    color: #ffffff;
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    /*background-color: #e1306c;*/
    background-color: #fa4a0c;
    color: #ffffff;
  }
}
